@import "_color.scss";
@import "_base.scss";


.container {
    max-width: 1000px;
}

.step-group {
    display: flex;
    justify-content: center;
    color: #8b8b8b;

    .step-item {
        display: flex;
        padding: 30px 10px;

        &:nth-child(3) {
            color: $orange-light;
        }

        span {
            display: block;
            text-align: center;
            line-height: 30px;
            margin-right: 5px;
        }

        .round {
            display: block;
            color: #fff;
            width: 30px;
            height: 30px;
            background-color: #8b8b8b;
            border-radius: 50%;
        }

        .active {
            background-color: $orange-light;
        }


    }
}

.card {

    .title-item {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);

        .open-dropdown {
            color: #2185D0;
            font-size: 14px;
        }


        h3 {
            font-size: 16px;
            color: $black-secondary;
            padding: 20px;
        }
    }


    .card-body {
        h4 {
            font-size: 16px;
            color: $orange-secondary;
            margin-top: 10px;
        }

        form {
            padding: 10px;

            label {
                margin-left: 5px;
            }
        }

    }







}