@import "_color.scss";
@import "_base.scss";

.wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    >article {
        flex:1;  
    }
}

.container{
    max-width: 1000px;
}

.step-group {
    display: flex;
    justify-content: center;
    color: #8b8b8b;

    .step-item {
        display: flex;
        padding: 30px 10px;

        &:nth-child(3) {
            color: $orange-light;
        }

        span {
            display: block;
            text-align: center;
            line-height: 30px;
            margin-right: 5px;
        }

        .round {
            display: block;
            color: #fff;
            width: 30px;
            height: 30px;
            background-color: #8b8b8b;
            border-radius: 50%;
        }

        .active {
            background-color: $orange-light;
        }


    }
}

.card {
    margin-bottom: 50px;

    .title-item {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);

        .open-dropdown {
            color: #2185D0;
            font-size: 14px;
        }


        h3 {
            font-size: 16px;
            color: $black-secondary;
            padding: 20px;
            margin-bottom: 0;
        }
    }


    .card-body {
        h4 {
            font-size: 16px;
            color: $orange-secondary;
            margin-top: 10px;
        }

        form {
            padding: 10px;

            label {
                margin-left: 5px;
            }
        }

    }

    .card-info{
        margin-left: 10px;
        color: $black-light;
    }

    small{
        color: $black-light;
    }
    .form-check-label a{
        color: #2185D0;
    }

    .form-check-input{
        margin-top: 6px;
    }

    .btn-group{
        display: flex;
        justify-content: flex-end;
    }

    .back-btn{
        width: 160px;
        height: 40px;
        text-align: center;
        color: #8B8B8B;
        border: 1px solid #CFD2D4;
        border-radius: 4px;
        padding: 6px 12px;
        margin-right: 8px;
        &:hover{
            text-decoration: none;
            background-color: #eeeeee;
            transition: .3s;
        }
    }

    .finish-btn{
        width: 160px;
        height: 40px;
        text-align: center;
        color: #fff;
        background-color: $orange-secondary;
        border: 1px solid $orange-secondary;
        border-radius: 4px;
        padding: 6px 12px;
        &:hover{
            background-color: #ee9105;
            transition: .3s;
        }

    }

    .form-control, ::placeholder{
        color:#949494;  
    }

}



